LothelAplicacionWeb/Connected Services/LothelSoftWS/VentasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lothel.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="VentasWS" targetNamespace="http://services.lothel.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LothelSoftWS/VentasWS?xsd=1" namespace="http://services.lothel.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="registrarCuidadoPersonal">
    <part name="parameters" element="tns:registrarCuidadoPersonal" />
  </message>
  <message name="registrarCuidadoPersonalResponse">
    <part name="parameters" element="tns:registrarCuidadoPersonalResponse" />
  </message>
  <message name="listarAlimentosPorNombre">
    <part name="parameters" element="tns:listarAlimentosPorNombre" />
  </message>
  <message name="listarAlimentosPorNombreResponse">
    <part name="parameters" element="tns:listarAlimentosPorNombreResponse" />
  </message>
  <message name="listarBebidasPorNombre">
    <part name="parameters" element="tns:listarBebidasPorNombre" />
  </message>
  <message name="listarBebidasPorNombreResponse">
    <part name="parameters" element="tns:listarBebidasPorNombreResponse" />
  </message>
  <message name="eliminarCuidadoPersonal">
    <part name="parameters" element="tns:eliminarCuidadoPersonal" />
  </message>
  <message name="eliminarCuidadoPersonalResponse">
    <part name="parameters" element="tns:eliminarCuidadoPersonalResponse" />
  </message>
  <message name="listarPedidosPorHuesped">
    <part name="parameters" element="tns:listarPedidosPorHuesped" />
  </message>
  <message name="listarPedidosPorHuespedResponse">
    <part name="parameters" element="tns:listarPedidosPorHuespedResponse" />
  </message>
  <message name="modificarCuidadoPersonal">
    <part name="parameters" element="tns:modificarCuidadoPersonal" />
  </message>
  <message name="modificarCuidadoPersonalResponse">
    <part name="parameters" element="tns:modificarCuidadoPersonalResponse" />
  </message>
  <message name="listarCuidadoPersonal">
    <part name="parameters" element="tns:listarCuidadoPersonal" />
  </message>
  <message name="listarCuidadoPersonalResponse">
    <part name="parameters" element="tns:listarCuidadoPersonalResponse" />
  </message>
  <message name="ingresarCalificacion">
    <part name="parameters" element="tns:ingresarCalificacion" />
  </message>
  <message name="ingresarCalificacionResponse">
    <part name="parameters" element="tns:ingresarCalificacionResponse" />
  </message>
  <message name="insertarServicioDeMasaje">
    <part name="parameters" element="tns:insertarServicioDeMasaje" />
  </message>
  <message name="insertarServicioDeMasajeResponse">
    <part name="parameters" element="tns:insertarServicioDeMasajeResponse" />
  </message>
  <message name="listarAlimentos">
    <part name="parameters" element="tns:listarAlimentos" />
  </message>
  <message name="listarAlimentosResponse">
    <part name="parameters" element="tns:listarAlimentosResponse" />
  </message>
  <message name="listarBebidas">
    <part name="parameters" element="tns:listarBebidas" />
  </message>
  <message name="listarBebidasResponse">
    <part name="parameters" element="tns:listarBebidasResponse" />
  </message>
  <message name="registrarAlimento">
    <part name="parameters" element="tns:registrarAlimento" />
  </message>
  <message name="registrarAlimentoResponse">
    <part name="parameters" element="tns:registrarAlimentoResponse" />
  </message>
  <message name="eliminarAlimento">
    <part name="parameters" element="tns:eliminarAlimento" />
  </message>
  <message name="eliminarAlimentoResponse">
    <part name="parameters" element="tns:eliminarAlimentoResponse" />
  </message>
  <message name="modificarAlimento">
    <part name="parameters" element="tns:modificarAlimento" />
  </message>
  <message name="modificarAlimentoResponse">
    <part name="parameters" element="tns:modificarAlimentoResponse" />
  </message>
  <message name="registrarBebida">
    <part name="parameters" element="tns:registrarBebida" />
  </message>
  <message name="registrarBebidaResponse">
    <part name="parameters" element="tns:registrarBebidaResponse" />
  </message>
  <message name="eliminarBebida">
    <part name="parameters" element="tns:eliminarBebida" />
  </message>
  <message name="eliminarBebidaResponse">
    <part name="parameters" element="tns:eliminarBebidaResponse" />
  </message>
  <message name="listarPorNombre">
    <part name="parameters" element="tns:listarPorNombre" />
  </message>
  <message name="listarPorNombreResponse">
    <part name="parameters" element="tns:listarPorNombreResponse" />
  </message>
  <message name="registarPedido">
    <part name="parameters" element="tns:registarPedido" />
  </message>
  <message name="registarPedidoResponse">
    <part name="parameters" element="tns:registarPedidoResponse" />
  </message>
  <message name="modificarBebida">
    <part name="parameters" element="tns:modificarBebida" />
  </message>
  <message name="modificarBebidaResponse">
    <part name="parameters" element="tns:modificarBebidaResponse" />
  </message>
  <message name="registarServicio">
    <part name="parameters" element="tns:registarServicio" />
  </message>
  <message name="registarServicioResponse">
    <part name="parameters" element="tns:registarServicioResponse" />
  </message>
  <message name="insertarServicioDeLavanderia">
    <part name="parameters" element="tns:insertarServicioDeLavanderia" />
  </message>
  <message name="insertarServicioDeLavanderiaResponse">
    <part name="parameters" element="tns:insertarServicioDeLavanderiaResponse" />
  </message>
  <message name="listarCuidadoPersonalPorNombre">
    <part name="parameters" element="tns:listarCuidadoPersonalPorNombre" />
  </message>
  <message name="listarCuidadoPersonalPorNombreResponse">
    <part name="parameters" element="tns:listarCuidadoPersonalPorNombreResponse" />
  </message>
  <portType name="VentasWS">
    <operation name="registrarCuidadoPersonal">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registrarCuidadoPersonalRequest" message="tns:registrarCuidadoPersonal" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registrarCuidadoPersonalResponse" message="tns:registrarCuidadoPersonalResponse" />
    </operation>
    <operation name="listarAlimentosPorNombre">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarAlimentosPorNombreRequest" message="tns:listarAlimentosPorNombre" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarAlimentosPorNombreResponse" message="tns:listarAlimentosPorNombreResponse" />
    </operation>
    <operation name="listarBebidasPorNombre">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarBebidasPorNombreRequest" message="tns:listarBebidasPorNombre" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarBebidasPorNombreResponse" message="tns:listarBebidasPorNombreResponse" />
    </operation>
    <operation name="eliminarCuidadoPersonal">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/eliminarCuidadoPersonalRequest" message="tns:eliminarCuidadoPersonal" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/eliminarCuidadoPersonalResponse" message="tns:eliminarCuidadoPersonalResponse" />
    </operation>
    <operation name="listarPedidosPorHuesped">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarPedidosPorHuespedRequest" message="tns:listarPedidosPorHuesped" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarPedidosPorHuespedResponse" message="tns:listarPedidosPorHuespedResponse" />
    </operation>
    <operation name="modificarCuidadoPersonal">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/modificarCuidadoPersonalRequest" message="tns:modificarCuidadoPersonal" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/modificarCuidadoPersonalResponse" message="tns:modificarCuidadoPersonalResponse" />
    </operation>
    <operation name="listarCuidadoPersonal">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarCuidadoPersonalRequest" message="tns:listarCuidadoPersonal" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarCuidadoPersonalResponse" message="tns:listarCuidadoPersonalResponse" />
    </operation>
    <operation name="ingresarCalificacion">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/ingresarCalificacionRequest" message="tns:ingresarCalificacion" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/ingresarCalificacionResponse" message="tns:ingresarCalificacionResponse" />
    </operation>
    <operation name="insertarServicioDeMasaje">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/insertarServicioDeMasajeRequest" message="tns:insertarServicioDeMasaje" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/insertarServicioDeMasajeResponse" message="tns:insertarServicioDeMasajeResponse" />
    </operation>
    <operation name="listarAlimentos">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarAlimentosRequest" message="tns:listarAlimentos" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarAlimentosResponse" message="tns:listarAlimentosResponse" />
    </operation>
    <operation name="listarBebidas">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarBebidasRequest" message="tns:listarBebidas" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarBebidasResponse" message="tns:listarBebidasResponse" />
    </operation>
    <operation name="registrarAlimento">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registrarAlimentoRequest" message="tns:registrarAlimento" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registrarAlimentoResponse" message="tns:registrarAlimentoResponse" />
    </operation>
    <operation name="eliminarAlimento">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/eliminarAlimentoRequest" message="tns:eliminarAlimento" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/eliminarAlimentoResponse" message="tns:eliminarAlimentoResponse" />
    </operation>
    <operation name="modificarAlimento">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/modificarAlimentoRequest" message="tns:modificarAlimento" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/modificarAlimentoResponse" message="tns:modificarAlimentoResponse" />
    </operation>
    <operation name="registrarBebida">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registrarBebidaRequest" message="tns:registrarBebida" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registrarBebidaResponse" message="tns:registrarBebidaResponse" />
    </operation>
    <operation name="eliminarBebida">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/eliminarBebidaRequest" message="tns:eliminarBebida" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/eliminarBebidaResponse" message="tns:eliminarBebidaResponse" />
    </operation>
    <operation name="listarPorNombre">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarPorNombreRequest" message="tns:listarPorNombre" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarPorNombreResponse" message="tns:listarPorNombreResponse" />
    </operation>
    <operation name="registarPedido">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registarPedidoRequest" message="tns:registarPedido" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registarPedidoResponse" message="tns:registarPedidoResponse" />
    </operation>
    <operation name="modificarBebida">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/modificarBebidaRequest" message="tns:modificarBebida" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/modificarBebidaResponse" message="tns:modificarBebidaResponse" />
    </operation>
    <operation name="registarServicio">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registarServicioRequest" message="tns:registarServicio" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/registarServicioResponse" message="tns:registarServicioResponse" />
    </operation>
    <operation name="insertarServicioDeLavanderia">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/insertarServicioDeLavanderiaRequest" message="tns:insertarServicioDeLavanderia" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/insertarServicioDeLavanderiaResponse" message="tns:insertarServicioDeLavanderiaResponse" />
    </operation>
    <operation name="listarCuidadoPersonalPorNombre">
      <input wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarCuidadoPersonalPorNombreRequest" message="tns:listarCuidadoPersonalPorNombre" />
      <output wsam:Action="http://services.lothel.pucp.edu.pe/VentasWS/listarCuidadoPersonalPorNombreResponse" message="tns:listarCuidadoPersonalPorNombreResponse" />
    </operation>
  </portType>
  <binding name="VentasWSPortBinding" type="tns:VentasWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="registrarCuidadoPersonal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlimentosPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarBebidasPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuidadoPersonal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidosPorHuesped">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCuidadoPersonal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuidadoPersonal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ingresarCalificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarServicioDeMasaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlimentos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarBebidas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registrarBebida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBebida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarBebida">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="registarServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarServicioDeLavanderia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuidadoPersonalPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VentasWS">
    <port name="VentasWSPort" binding="tns:VentasWSPortBinding">
      <soap:address location="http://localhost:8080/LothelSoftWS/VentasWS" />
    </port>
  </service>
</definitions>